@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --foreground: #2a2a2a;
  --primary: #b46aa0;
  --secondary: #f5b7a2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #f8f8f8;
    --primary: #b46aa0;
    --secondary: #f5b7a2;
  }
}

@font-face {
  font-family: "My CustomFont";
  src: url("/fonts/DancingScript-Variable.ttf") format("truetype");
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-DancingS {
  font-family: "My CustomFont", sans-serif;
  font-weight: 900;
}

.flexcent {
  display: flex;
  justify-items: center;
  align-items: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  @apply fixed top-0 right-0 left-0 bottom-0 z-50;
}
